  
<div class="col-md-3 col-sm-6 col-6">
  <input type="checkbox" name="track" value={{ track.id }} class="saveToSpotify">
  <span class="{{ id }}_title">{{ title }}</span>  <span class="{{ id }}_artist">({{ artist }})</span>          
</div>