 
        <div class="col-md-3 col-sm-6 col-6">
            <img class="track-cover" src={{ track.album.images.[0].url }}>
<<<<<<< HEAD
            <br><span class="{{ track.id }}_title">{{ track.name }}</span>
            <br><span class="{{ track.id }}_artist">({{ track.album.artists.[0].name }})</span> 
            <input type="checkbox" name="track" value={{ track.id }} class="saveToDatabase">
        </div>
        


=======
            </br> {{ track.name }} 
            </br>{{ track.album.artists.[0].name }}
            </br>
            <input class="check-box" type="checkbox" name="track" value={{ track.id }} class="saveToDatabase">
    
        </div>
         
         
>>>>>>> 7ca2e45b939ecc860dd94d6e414cb1762682ec45
