
{{> home/home-nav}}

  <div class="container">
    <div class="row">
      <div class="col-md-8">

      {{#if  user.photos  }}
      <img src={{ user.photos }}>
      {{else}}
      <p> You have no image - shame :)</p>>
      {{/if}}
      <h2 class=""> {{ user.id }} </h2>
{{!-- <p>Welcome to PPMS: {{ user.displayName }} </p> --}}
      <p>Followers: {{ user.followers }}</p>
      <p>Email: {{ user._json.email }} </p>
      <p>Spotify <a href=" {{ user.profileUrl }}">{{ user.profileUrl }}</a></p>
      <p>Country: <img src="https://www.countryflags.io/{{ user.country }}/shiny/64.png"> </p>
 
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">

      {{#if playlists}}
      <form method="get" action="/spotify/search_tracks">      
          <fieldset>      
              <legend>Playlists:</legend>  
              {{#each playlists}}
                  {{> spotify_playlists-block }}
              {{/each}}       
              <br>      
              <input type="submit" value="Search the tracks" />      
            </fieldset>      
      </form>
      {{/if}}
      
      {{#if spotify_tracks}}
      <form>      
        <fieldset>      
          <legend>Tracks:</legend>  
            {{#each spotify_tracks}}
            {{> spotify_tracks-block }}
            {{/each}}       
            <br>      
            <button class="submitToDatabase" type="submit">Add tracks to the playlist.</button>     
        </fieldset>      
      </form>
      {{/if}}

{{#if message }}
<form method="post" action="/spotify/save_tracks">      
    <fieldset>      
        <p>{{ message }}</p>  
        <br>         
    </fieldset>      
</form>
{{/if}}

{{#if localdb_tracks }}
<form method="get" action="/spotify/sync">      
    <fieldset>      
        <legend>LOCAL tracks:</legend>  
        <ul class="w3-ul">
        {{#each localdb_tracks}}
            {{> localdb_tracks-block }}
        {{/each}}    
        </ul>   
        <br>    
        <br>      
        <button class="submit" type="submit"/>"Save to your Spotify"</button>           
    </fieldset>      
</form>
{{/if}}


<form action="/local/display_playlists" method="GET">
    <button type=submit>My Life Soundtracks</button>
</form>
<form action="/spotify/search_playlists" method="GET">
    <button type=submit>Search Spotify playlists</button>
</form>
{{!-- <form action="/logout" method="GET">
        <button type=submit>Logout</button>
</form> --}}


         
        </div>
      </div>



      
  </div>



    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->

{{> home/footer}}
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>




